@import '../../styles/shared.scss';

.Button {
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
  background: $input-bg;
  color: $input-fg;
  text-align: center;
  font-size: inherit;
  padding: 0.5em 0.75em;
  display: inline-block;

  &:not(:disabled) {
    &:hover {
      background: $input-bg-hover;
    }
  
    &:active {
      background: $input-bg-active;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    background: $accent-colour;

    &:hover {
      background: lighten($accent-colour, 10%);
    }

    &:active {
      background: darken($accent-colour, 10%);
    }
  }

  &.bland {
    background: transparent;

    &:hover {
      background: transparent;
      text-decoration: underline;
    }
  }
}