@import '../../styles/shared.scss';

.Dropdown {
  position: relative;
  display: inline-block;

  .Dropdown__Options {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    
    &.hidden {
      display: none;
    }
  }
}