@import '../../styles/shared.scss';

.MediaProviderIcon {
  --brand-colour: green;

  &.YouTube {
    --brand-colour: #{$youtube-colour};
  }

  &.Spotify {
    --brand-colour: #{$spotify-colour};
  }

  &.SoundCloud {
    --brand-colour: #{$soundcloud-colour};
  }

  &.fg {
    color: var(--brand-colour);
  }
}