@import '../../styles/shared.scss';

.TopHeading {
  .TopHeading__Subheading {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: $subheading-fg;
    letter-spacing: 0.1em;
    margin-bottom: -0.5rem;
  }

  .TopHeading__Heading {
    margin-top: 0;
    font-size: 2em;
  }
}