@import '../../styles/shared.scss';

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00000066;
  z-index: 1000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  padding: 1em;

  &.hidden {
    display: none;
  }
}