$background: #222;

.TopBar {
  background: $background;
  padding: 0.5em;
  display: flex;
  flex-flow: row nowrap;

  > .SearchAll {
    margin-right: auto;
  }

  > .AuthActions * {
    white-space: nowrap;
  }
}