.SearchPageLanding {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .SearchPageLanding__Icon {
    font-size: 5rem;
  }

  .SearchPageLanding__Content {
    padding: 1em;

    * {
      text-align: center;
    }
  }
}