@import "../../styles/shared.scss";

.IconCard {
  @include brand-colours;
  @include card;

  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  align-items: stretch;
  width: inherit;

  &.Button {
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .IconCard__Left {
    width: 2em;
    min-height: 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: var(--brand-colour);
    font-size: 2em;
    flex: 0 0 auto;
  }

  .IconCard__Center {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 1em;
    overflow: hidden;

    p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .IconCard__Right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 1em;
    flex: 0 0 auto;
  }
}