@import '../../styles/shared.scss';

$padding: 0.25em 0.5em;

.TrackCard {
  @include card; 

  padding: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;

  > * {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .TrackCard__Number {
    padding: $padding;
    width: 2em;
    box-sizing: content-box;
    display: none;

    @include sm {
      display: inherit;
    }
  }

  .TrackCard__Image {
    padding: 0 0.5em;
    box-sizing: content-box;
    width: 4em;
    height: 3.5em;

    img {
      max-width: 3em;
      max-height: 3em;
    }
  }

  .TrackCard__Provider {
    padding: $padding;
  }

  .TrackCard__Main {
    flex: 1;
    align-items: flex-start;
    padding-left: 0.25em;
    overflow: hidden;

    .TrackCard__Name {
      font-weight: bold;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 0;
      width: 100%;
    }
  
    .TrackCard__Artists {
      font-weight: normal;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 0;
      width: 100%;
    }
  }


  .TrackCard__Duration {
    padding: $padding;
    text-align: right;
  }
}