@import "../../styles/shared.scss";

$padding: 2em;

.GeneralContent {
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: $size-xxl;
  width: 100%;
  margin: 0 auto;

  @include sm {
    padding-left: $padding;
    padding-right: $padding;
  }

  &.pad-top {
    padding-top: $padding / 2;
  }

  &.pad-bottom {
    padding-bottom: $padding / 2;
  }

  &.center {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}