@import "../../styles/shared.scss";

$spacing: 1em;

.Grid {
  display: grid;
  grid-template-columns: 1fr;
  @include sm {
    grid-template-columns: 1fr 1fr;
  }
  @include md {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include lg {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include xl {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  column-gap: $spacing;
  row-gap: $spacing;
}