// Main app
$background: #111;
$text-colour: #fff;
$accent-colour: #4499ff;

$border-radius: 0.25rem;

// Headings
$subheading-fg: #eeeeee;

// Input elements
$input-fg: #fff;
$input-fg-placeholder: #aaa;
$input-bg: #444;
$input-bg-hover: #666;
$input-bg-active: #333;

// Brand colours
$youtube-colour: #FF0000;
$spotify-colour: #1DB954;
$soundcloud-colour: #FE5000;
$google-colour: #000;

// Card colours
$card-bg: transparent;
$card-bg-hover: #333;
$card-fg: #fff;

// Screen sizes
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;
$size-xxl: 1400px;